---
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Coderockr</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/public/styles/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="/public/scripts/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>
  
  <div id="container">
    <header>
      <div class="wrap">
        <h1><a href="/" title="Coderockr"><img src="/public/images/coderockr-logo.png" width="130" height="42" alt="Coderockr" /></a></h1>
        <nav>
          <ul>
            <li><a href="#home" class="home" title="Topo"><span>Topo</span><span class="hover"></span></a></li>
            <li><a href="#servicos" class="services" title="Serviços"><span>Serviços</span><span class="hover"></span></a></li>
            <li><a href="#projetos" class="projects" title="10px 0 9px"><span>Projetos</span><span class="hover"></span></a></li>
            <li><a href="#sobre" class="about" title="Sobre"><span>Sobre</span><span class="hover"></span></a></li>
            <li><a href="http://www.coderockr.com/blog" class="blog" title="Blog"><span>Blog</span><span class="hover"></span></a></li>
            <li class="last"><a href="#contato" class="contact" title="Contato"><span>Contato</span><span class="hover"></span></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" role="main">
      <section id="home"><a name="home" class="anchor clearfix"></a>
        <div class="wrap">
          <article>
            <h2>Programadores são artistas,<br />são Rockstars!</h2>
            <p>Não desenvolvemos software, desenvolvemos Riffs e Solos com código fonte. Nossos<br />programadores não trabalham em uma empresa, eles fazem parte de uma banda de rock.</p>
          </article>
        </div>
        <nav>
          <div class="wrap">
            <ul>
              {% include destaque_1.html %}
              {% include destaque_2.html %}
              {% include destaque_3.html %}
            </ul>
          </div>
        </nav>
      </section>
      <section id="services"><a name="servicos" class="anchor clearfix"></a>
        <article>
          <div class="wrap">
            <h2>A Coderockr é uma empresa que acredita que<br />o desenvolvimento de aplicativos e sistemas<span> é uma arte,</span><br />que deve ser feita com<span> paixão e dedicação.</span></h2>
          </div>
        </article>
        <div class="wrap">
          <ul class="clearfix">
            <li>
              <span>1</span>
              <article>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lacinia velit. Etiam lacus nisi, ultrices sit amet pulvinar sed.</p>
              </article>
            </li>
            <li class="right">
              <span>2</span>
              <article>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lacinia velit. Etiam lacus nisi, ultrices sit amet pulvinar sed.</p>
              </article>
            </li>
            <li>
              <span>3</span>
              <article>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lacinia velit. Etiam lacus nisi, ultrices sit amet pulvinar sed.</p>
              </article>
            </li>
            <li class="right">
              <span>4</span>
              <article>
                <h3>Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis lacinia velit. Etiam lacus nisi, ultrices sit amet pulvinar sed.</p>
              </article>
            </li>
          </ul>
        </div>
      </section>
      <section id="projects"><a name="projetos" class="anchor clearfix"></a>
        <nav class="clearfix">
          <div class="wrap">
            <ul>
              <li><a href="javascript:void(0);" title="iPhone">iPhone</a></li>
              <li><a href="javascript:void(0);" title="iPad">iPad</a></li>
              <li><a href="javascript:void(0);" title="Android">Android</a></li>
              <li><a href="javascript:void(0);" title="Web">Web</a></li>
            </ul>
          </div>
        </nav>
        <div class="wrap">
          <nav id="slider">
            <ul>
              <li class="wrap">
                <ul>
                  {% for post in site.posts limit:6 offset:1 %}
                    {% include projects.html %}   
                  {% endfor %}
                </ul>
              </li>
              <li class="wrap">
                <ul>
                  {% for post in site.posts limit:6 offset:7 %}
                    {% include projects.html %}   
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <nav class="pages wrap">
          <ul>
            <li id="p1"><a href="javascript:void(0);"><span>1</span></a></li>
            <li id="p2"><a href="javascript:void(0);"><span>2</span></a></li>
            <li id="p3"><a href="javascript:void(0);"><span>3</span></a></li>
          </ul>
        </nav>
      </section>
      <section id="about" class="clearfix"><a name="sobre" class="anchor clearfix"></a>
        <div class="wrap">
          <h2>Bons programadores são únicos,<br />assim como no mundo do rock.</h2>
          <h3>Você não conseguiria contar quantos “Ozzys” ou “Slashs” estão disponíveis para um show. Assim como é impossível<br />saber que precisará exatamente de duas horas para compor uma música, e que em um mês ela será um grande<br />sucesso. Para isso, “timing” e “feeling” são mais importantes do que o controle sobre o processo.</h3>
        </div>
        <div class="line clearfix"></div>        
        <div class="wrap">
          <ul>
            <li>
              {% include elton.html %}
            </li>
            <li class="last">
              {% include andre.html %}
            </li>
            <li>
              {% include marcos.html %}
            </li>
            <li class="last">
              {% include thiago.html %}
            </li>
          </ul>
        </div>
      </section>
      <section id="contact" class="clearfix"><a name="contato" class="anchor clearfix"></a>
        <h2>A Coderockr está pronta para dar um<br />show, entre em contato!</h2>
        <div class="line clearfix"></div>        
        <div class="wrap">
          <div class="col1">
            <form action="#" method="post" id="contact-form">
              <fieldset>
                <ul>
                  <li>
                    <label>Nome</label>
                    <input type="text" name="contact[name]" id="contact-name" tabindex="1" />
                  </li>
                  <li>
                    <label>Telefone</label>
                    <input type="text" name="contact[phone]" id="contact-name" tabindex="2" />
                  </li>
                  <li>
                    <label>E-mail</label>
                    <input type="text" name="contact[mail]" id="contact-name" tabindex="3" />
                  </li>
                  <li>
                    <label>Assunto</label>
                    <input type="text" name="contact[subject]" id="contact-name" tabindex="4" />
                  </li>
                  <li>
                    <label>Mensagem</label>
                    <textarea type="text" name="contact[message]" id="contact-name" tabindex="5"></textarea>
                  </li>
                  <li>
                    <input type="submit" value="Enviar" />
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
          <div class="col2">
            <ul>
              <li class="clearfix"><a href="javascript:void(0);" class="map-link" title="Clique para ver o mapa">
                  <img src="/public/images/contact-map.jpg" width="39" height="40" alt="" />Rua 9 de março, 737, Sala 502<br />Centro  |  89201-400  |  Joinville  |  SC</a>
                  <div class="map"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rua+9+de+mar%C3%A7o,+737,+Sala+502+Centro++89201-400+Joinville+-+SC&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=55.806079,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Nove+de+Mar%C3%A7o,+737+-+Centro,+Joinville+-+Santa+Catarina,+89201-400,+Brazil&amp;ll=-26.3015,-48.848893&amp;spn=0.003905,0.008256&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div>
              </li>
              <li class="clearfix"><img src="/public/images/contact-phone.jpg" width="39" height="40" alt="" /><span>47 3227.6359</span></li>
              <li class="clearfix"><a href="mailto:contato@coderockr.com" title="contato@coderockr.com"><img src="/public/images/contact-mail.jpg" width="39" height="40" alt="" /><span>contato@coderockr.com</span></a></li>
              <li class="clearfix"><a href="http://twitter.com/coderockr"><img src="/public/images/contact-twitter.jpg" width="39" height="40" alt="" /><span>@coderockr</span></a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="wrap clearfix">
        <div class="col1">
          <p>
            <img src="/public/images/rockrhand.png" width="20" height="52" alt="" />
            Rua 9 de março, 737, Sala 502<br />Centro | 89201-400<br />Joinville | SC | 47 3227.6359
          </p>
        </div>
        <div class="col2">
          <nav>
            <ul>
              <li><a href="#home">Topo</a></li>
              <li><a href="#servicos">Serviços</a></li>
              <li><a href="#projetos">Projetos </a></li>
              <li><a href="#sobre">Sobre</a></li>
              <li><a href="http://www.coderockr.com/blog">Blog</a></li>
              <li><a href="#contato">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
  <!--div id="floater-overlay"></div>
  <div id="floater" class="ipad">
    <a href="javascript:void(0);" title="Anterior" class="left">&lt;</a>
    <a href="javascript:void(0);" title="Próximo" class="right">&gt;</a>
    <div class="reflex"></div>
    <div class="frame"></div>
  </div-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/public/scripts/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script defer src="/public/scripts/plugins.js"></script>
  <script defer src="/public/scripts/script.js"></script>

  <script>
    /*window._gaq = [['_setAccount','UA-584603-6'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });*/
  </script>
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>