---
---
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Coderockr - Creating Projects that Rock!</title>
  <meta name="description" content="A Coderockr é uma empresa que acredita que o desenvolvimento de aplicativos e sistemas é uma arte, que deve ser feita com paixão e dedicação.">
  <meta name="author" content="contato@coderockr.com">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <meta property="og:image" content="http://coderockr.com/public/images/rockrhand.png" />
  <meta property="og:title" content="Coderockr - Creating Projects that Rock!" />
  <meta property="og:description" content="A Coderockr é uma empresa que acredita que o desenvolvimento de aplicativos e sistemas é uma arte, que deve ser feita com paixão e dedicação." />
  <meta property="og:url" content="http://coderockr.com/" />

  <link rel="stylesheet" href="/public/styles/style.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300|Hammersmith+One&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  <script src="/public/scripts/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>
  <input type="checkbox" id="openmenu" name="openmenu" value="openmenu" />
  <div id="container">
    <nav class="wrap" id="menu">
      <ul>
        <li><a href="#home" class="home" title="Topo">Home</a></li>
        <li><a href="#servicos" class="services" title="Serviços">Serviços</a></li>
        <li><a href="#clientes" class="clients" title="Clientes">Clientes</a></li>
        <li><a href="#sobre" class="about" title="Sobre">Sobre</a></li>
        <li><a href="https://medium.com/@coderockr/o-prop%C3%B3sito-da-coderockr-56bb69334acb" target="_blank" class="about" title="Propósito">Propósito</a></li>
        <li><a href="http://medium.com/@coderockr" class="blog" title="Blog" target="_blank">Blog</a></li>
        <li class="last"><a href="#contato" class="contact" title="Contato">Contato</a></li>
      </ul>
    </nav>
    <label class="tapoverlay" for="openmenu"></label>

    <header>
      <div class="wrap">
        <h1><a href="/" title="Coderockr"><img src="/public/images/coderockr-logo.png" width="130" height="42" alt="Coderockr" /></a></h1>
        <label for="openmenu" class="bt-menu">
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
        </label>
      </div>
      <label for="language"><span></span></label>
      <input type="checkbox" name="language" id="language" />
      <!-- <div class="language-pt">
        <div>
          <a href="http://coderockr.com" title="Acesse nosso site em Português" rel="pt-br" target="_top">PT</a>
          <a href="http://en.coderockr.com" title="Visit our site in English." rel="en" target="_top">EN</a>
        </div>
      </div> -->
    </header>

    <div id="main" role="main">
      <section id="home"><a name="home" class="anchor clearfix"></a>
        <article class="wrap">
          <h2>A Coderockr é uma empresa que acredita que o desenvolvimento de software <span>é uma arte,</span> que deve ser feita com<span> paixão e dedicação.</span></h2>
        </article>
      </section>
      <section id="servicos"><a name="servicos" class="anchor clearfix"></a>
        <div class="wrap">
          <ul class="clearfix">
            <li>
              <span>1</span>
              <article>
                <h3>Desenvolvimento Web</h3>
                <p>Trabalhamos com PHP e JavaScript, frameworks como Zend Framework, Doctrine, Silex, testes unitários, interfaces em HTML5 e CSS3, AngularJS.</p>
              </article>
            </li>            
            <li class="last">
              <span>2</span>
              <article>
                <h3>Consultoria</h3>
                <p>Prestamos consultoria em desenvolvimento web, performance e cloud computing.</p>
              </article>
            </li>
          </ul>
        </div>
      </section>
      <section id="clientes" class="clearfix"><a name="clientes" class="anchor clearfix"></a>
        <div class="wrap">
          <h2>
            Alguns <span>clientes</span> que dão um show<br /> com a <span>Coderockr!</span>
          </h2>
        </div>
        <br>
        <div class="wrap">
          <ul>
            <li>
              "A A2C tem muito orgulho de ter construído uma relação de longo prazo com a Coderockr, sempre pautada na transparência, confiança e competência".<br><br>
              <b>Anderson Andrade. Fundador e CEO da <a href="http://a2c.com.br/" target="_blank">A2C</a></b>
            </li>
            <li class="last">
              "Temos a Coderocker como uma extensão de nossa divisão de desenvolvimento de sistemas. A Unochapecó por ser  uma instituição de vanguarda, encontrou nesta parceria uma sintonia na busca de soluções criativas, inovadoras e eficazes, ajustadas a nossa necessidade de tecnologia."<br><br>
              <b>Lissandro Hoffmeister. Diretor de Tecnologia da Informação da <a href="http://www.unochapeco.edu.br" target="_blank">Unochapecó</a></b>
            </li>
            <li>
              "Tenho trabalhado com a Coderockr desde 2011, e a experiência tem sido incrível. Sempre muito comprometidos com a qualidade do código e os prazos de nossos projetos. Recomendo!".<br><br>
              <b>Otavio Ferreira. CTO do <a href="http://empregoligado.com.br" target="_blank">Emprego Ligado</a></b>
            </li>
            <li class="last">
              “A Coderockr superou nossas expectativas tanto em qualidade de entrega dos softwares desenvolvidos, quanto no grau de envolvimento e aprofundamento em nossas necessidades. Como resultado, sugestões e   aplicações que agregaram valor ao nosso negócio. ”.<br><br>
              <b>Claudia Silva Arra. Responsável pelo e-Commerce da <a href="http://neogrid.com" target="_blank">Neogrid.com</a></b>
            </li>
            <li>
              "Ética, comprometimento, credibilidade, profissionalismo. Esses valores sempre foram essenciais para nós da CompuFour. Identificar isso no DNA da Coderockr foi muito gratificante. Temos certeza que essa identificação é fator fundamental para que nossa parceria seja cada vez mais sólida. É um orgulho muito grande saber que nossa história está sendo escrita também por profissionais do quilate Coderockr".<br><br>
              <b>Wagner Muller. Sócio da <a href="http://compufour.com.br" target="_blank">CompuFour</a></b>
            </li>
          </ul>
        </div>
      </section>
      <section id="sobre" class="clearfix"><a name="sobre" class="anchor clearfix"></a>
        <div class="wrap">
          <h2><span>Bons programadores</span> são únicos, assim como <span>estrelas no mundo do rock</span>.</h2>
        </div>
        
        <div class="line clearfix"></div>        
        <div class="wrap">
          <h2>Equipe</h2>
        </div>
        <div class="wrap">
          <ul>
            <li>
              {% include elton.html %}
            </li>
            <li class="last">
              {% include jesus.html %}
            </li>
            <li>
              {% include julia.html %}
            </li>
            <li class="last">
              {% include leandro.html %}
            </li>
            <li>
              {% include raony.html %}
            </li>
            <li class="last">
              {% include vinicius.html %}
            </li>
            <li>
              {% include voce.html %}
            </li>
          </ul>
        </div>
      </section>
      <section id="parceiros" class="clearfix">
        <div class="line clearfix"></div>
        <div class="wrap">
          <h2>Parceiros</h2>
        </div>
        <div class="wrap">
          <ul>
            <li>
              {% include adler.html %}
            </li>
            <li class="last">
              {% include jean.html %}
            </li>
            <li>
              {% include matheus.html %}
            </li>
          </ul>
        </div>
      </section>
      <section id="contato" class="clearfix"><a name="contato" class="anchor clearfix"></a>
        <h2>A Coderockr está pronta para<br /><span>dar um show</span>,<br />entre em contato!</h2>
        <div class="line clearfix"></div>        
        <div class="wrap">
          <div class="col1">
            <ul>
              <li class="clearfix">
                <a href="tel:04732276359" class="call"><img src="/public/images/contact-phone.png" width="40" height="40" alt="" /><span>47 3227.6359</span></a>
                <!-- <a href="tel:01132806359" class="call"><span>&nbsp;/&nbsp;11 3280.6359</span></a> -->
              </li>
              <li class="clearfix"><a href="mailto:contato@coderockr.com?subject=Contato pelo site" title="Envie um e-mail para contato@coderockr.com"><img src="/public/images/contact-mail.png" width="40" height="40" alt="" /><span>contato@coderockr.com</span></a></li>
            </ul>
          </div>
          <div class="col2">
            <ul>
              <li class="clearfix"><a href="http://facebook.com/coderockr" target="_blank" title="Facebook da Coderockr"><img src="/public/images/contact-facebook.png" width="40" height="40" alt="" /><span>Facebook</span></a></li>
              <li class="clearfix"><a href="http://twitter.com/coderockr" target="_blank" title="Twitter da Coderockr"><img src="/public/images/contact-twitter.png" width="40" height="40" alt="" /><span>@coderockr</span></a></li>
              <li class="clearfix"><a href="https://plus.google.com/114839342124659023408" target="_blank" title="Google+ Coderockr" rel="publisher"><img src="/public/images/contact-gplus.png" width="40" height="40" alt="" /><span>Google+</span></a></li>
            </ul>
          </div>
      </section>
    </div>
    <footer>
      <div class="wrap clearfix">
        <div class="col1">
          <p>
            <img src="/public/images/rockrhand.png" width="20" height="52" alt="" />
            <br/>Joinville | SC | 47 3227 6359
            <!-- <br/>São Paulo | SP | 11 3280 6359 -->
          </p>
        </div>
        <div class="col2">
          <nav>
            <ul>
              <li><a href="#home" title="Home">Home</a></li>
              <li><a href="#servicos" title="Serviços">Serviços</a></li>
              <li><a href="#clientes" title="Clientes">Clientes</a></li>
              <li><a href="#sobre" title="Sobre">Sobre</a></li>
              <li><a href="https://medium.com/@coderockr/o-prop%C3%B3sito-da-coderockr-56bb69334acb" target="_blank" title="Propósito">Propósito</a></li>
              <li><a href="http://blog.coderockr.com" target="_blank" title="Blog">Blog</a></li>
              <li><a href="#contato" title="Contato">Contato</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/public/scripts/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script defer src="/public/scripts/plugins.js"></script>
  <script defer src="/public/scripts/script.js"></script>

  <script>
    window._gaq = [['_setAccount','UA-584603-6'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
