---
title: Coderockr - Quem Somos
---

<main id="main-content">

  {{> header}}

  <div id="about" class="wrap">
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="subtitle">
            <h2>QUEM SOMOS</h2>
            <span></span>
          </div>
        </div>
      </div>
    </section>
    <aside class="photos container-fluid">>
      <div class="row">
        <img class="img-responsive pic-1" src="assets/images/coderockr/picture-1.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-2" src="assets/images/coderockr/picture-2.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-3" src="assets/images/coderockr/picture-3.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-4" src="assets/images/coderockr/picture-4.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-5" src="assets/images/coderockr/picture-5.jpg" alt="Coderockr" width="468"
          height="235">
        <img class="img-responsive pic-6" src="assets/images/coderockr/picture-6.jpg" alt="Coderockr" width="468"
          height="235">
        <img class="img-responsive pic-7" src="assets/images/coderockr/picture-7.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-8" src="assets/images/coderockr/picture-8.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-9" src="assets/images/coderockr/picture-9.jpg" alt="Coderockr" width="234"
          height="235">
        <img class="img-responsive pic-0" src="assets/images/coderockr/picture-10.jpg" alt="Coderockr" width="234"
          height="235">
      </div>
    </aside>
    <section class="coderockr">
      <div class="container history">
        <div class="row">
          <div class="col-md-12 cross-title left">
            <h2><span class="title">A CODEROCKR</span></h2>
          </div>
          <div class="col-md-5 logo">
            <img src="assets/images/hand-yellow.svg" alt="Coderockr Logo" title="Coderockr">
          </div>
          <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
            <p>
              A Coderockr, sediada em Joinville, Santa Catarina, está no mercado desde 2010 trabalhando
              com clientes de diversos portes como startups nacionais e internacionais, corporações,
              agências de publicidade e instituições de ensino. Temos orgulho de ter trabalhado com
              empresas como Unochapecó, A2C, Neogrid, Emprego Ligado, Compufour, Weg, entre outras.
            </p>
            <p>
              <i>
                Nosso propósito é criar softwares incríveis e ajudar outras empresas e desenvolvedores
                a fazerem o mesmo. Fazemos isso porque acreditamos que o desenvolvimento de software
                é uma arte, que deve ser feita com paixão, dedicação, e organização.
              </i>
            </p>
            <p>
              Queremos levar a nossa metodologia e os nossos conceitos ao maior número possível de clientes,
              projetos, e desenvolvedores. Seja desenvolvendo as soluções internamente ou contribuindo
              com a comunidade tecnológica disseminando conhecimento. Fazemos isso através de palestras,
              consultorias, treinamentos, e conteúdo em redes sociais e livros.
            </p>
            <p>
              Nosso sucesso pode ser medido pela satisfação dos usuários que são beneficiados pelos softwares
              que desenvolvemos, ou que foram desenvolvidos pelas equipes que nós influenciamos.
            </p>
          </div>
        </div>
      </div>
      <div class="principles">
        <div class="container">
          <div class="row">
            <ul>
              <li class="col-md-4">
                <h3>MISSÃO</h3>
                <p>
                  Criar soluções inovadoras e de alta qualidade utilizando as tecnologias mais modernas do
                  mercado e promovendo a disseminação de conhecimento.
                </p>
              </li>
              <li class="col-md-4">
                <h3>VISÃO</h3>
                <p>
                  Ser referência de excelência e inovação no desenvolvimento de soluções tecnológicas,
                  gerando contribuições significativas à comunidade.
                </p>
              </li>
              <li class="col-md-4">
                <h3>VALORES</h3>
                <p>
                  Cooperação, Ética, Respeito, Curiosidade, Entusiasmo, Comprometimento, Iniciativa,
                  Foco na solução e não no problema.
                </p>
              </li>
            </ul>
            <header class="col-md-12">
              <span>BONS PROGRAMADORES SÃO ÚNICOS, ASSIM COMO ESTRELAS NO MUNDO DO ROCK!</span>
            </header>
          </div>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="container">
        <div class="row">
          <div class="subtitle">
            <h2>NOSSA EQUIPE</h2>
            <span></span>
          </div>
          <ul class="col-md-10 col-md-offset-1">
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/julia.jpg" alt="Julia Possamai" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://github.com/juliabpp" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/julia-possamai-b097571a" target="_blank">
                        <span class="icon-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>JULIA POSSAMAI</h2>
                    <span></span>
                  </div>
                  <p>
                    Formada em Marketing e Ciências da Computação pela University of Texas at Austin
                    (Hook'em Horns!). Participou do programa "1 Semester Startup" na UT Austin onde
                    adquiriu conhecimento e despertou o seu espírito empreendedor. Estagiou em Nova York
                    na área de Marketing, trabalhou em Dallas como Analista de Sistemas de Negócios e
                    atualmente trabalha com desenvolvimento iOS. Adora conhecer novos lugares e culturas.
                    Participou de intercâmbios culturais em Washington, DC e Puyallup, Washington. Morou 4
                    anos no México, onde se formou no ensino médio, mas ainda não aprendeu a gostar de tequila.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/lucas.jpg" alt="Lucas Abreu" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="http://www.lucassabreu.net.br" target="_blank">
                        <span class="icon-earth"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://medium.com/@lucassabreu" target="_blank">
                        <span class="icon-medium"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/LucasSantAbreu" target="_blank">
                        <span class="icon-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/lucassabreu" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/lucassantosabreu" target="_blank">
                        <span class="icon-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>LUCAS ABREU</h2>
                    <span></span>
                  </div>
                  <p>
                    Me interesso por desenvolvimento desde 2009 quando tive de explorar um pouco o
                    mundo da programação para um projeto e por diversão depois disso. Trabalho na área
                    desde final de 2010 iniciando com desenvolvimento para ERP e Business Intelligence,
                    com momentos de analista de banco de dados aqui e ali, o que me levou a uma paixão
                    por bancos de dados e sistemas/linguagens de consulta. Hoje atuo com desenvolvimento
                    Web e estou tentando entrar para o mundo de BigData e IA. Sou Bacharel em Sistemas de
                    Informação pela UNIVILLE, formado em 2016. Meu tempo livre envolve beber com amigos,
                    ver filmes e animações, ler livros de ficção e passar o fim de semana deitado na cama.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/anderson.jpg" alt="Ânderson Zorrer Dalmina" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://twitter.com/andersondalmina" target="_blank">
                        <span class="icon-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/andersondalmina" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/andersonzorrerdalmina" target="_blank">
                        <span class="icon-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>ÂNDERSON ZORRER DALMINA</h2>
                    <span></span>
                  </div>
                  <p>
                    Cursando Engenharia de Computação na Universidade de Caxias do Sul (UCS),
                    fez seus primeiros códigos de PHP em 2011 e desde lá não parou mais. Está sempre
                    em busca do “código perfeito” e de novas tecnologias que buscam melhorar o desenvolvimento.
                    Tem grande interesse em saber como as coisas funcionam, o que o levou a uma
                    jornada ao baixo nível com hardware e eletrônica. Possui uma banda na qual passa muitos
                    fins de semana viajando e tocando, no tempo livre curte uma boa música, filme
                    e conversa com os amigos.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/allan.jpg" alt="Allan da Silva" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://twitter.com/oallanweb" target="_blank">
                        <span class="icon-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/oAllanWeb" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>ALLAN DA SILVA</h2>
                    <span></span>
                  </div>
                  <p>
                    Desenvolvedor Web graduado pela Faculdade Alfa de Umuarama no Curso de Sistemas Para Internet,
                    cursando a pós-graduação em Desenvolvimento de Aplicações para Web e Dispositivos Móveis. Entrou na
                    faculdade sem saber o que era programação e acabou gostando principalmente das matérias que
                    envolviam PHP, JS, HTML e CSS.
                    No final na faculdade em 2013 surgiu a oportunidade de trabalhar com desenvolvimento de sites e em
                    2016 de trabalhar com um ERP onde foi responsável por criar um Aplicativo de vendas. Gosta de fazer
                    e/ou comer Hambúrgueres, reunir a família e amigos e quando possível jogar um futebol.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/ricardo.jpg" alt="Ricardo Saraiva" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://www.linkedin.com/in/ricardo-saraiva" target="_blank">
                        <span class="icon-linkedin"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/ricardosaraiva" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>RICARDO SARAIVA</h2>
                    <span></span>
                  </div>
                  <p>
                    Desenvolvedor web autodidata, inicio sua jornada no mundo da informática em 2008
                    em um curso de hardware, através de um professor teve seu primeiro contato com
                    programação “DELPHI” onde começou sua jornada no mundo do desenvolvimento.
                    Curte sair com a familia, pescar, andar de patins e jogar xadres.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/julio.jpg" alt="Julio Lopes" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://www.facebook.com/Julio.Bfg" target="_blank">
                        <span class="icon-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/julio-cesar-lopes-filho-b18873153/" target="_blank">
                        <span class="icon-linkedin"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/JulioBFG" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>Julio Lopes</h2>
                    <span></span>
                  </div>
                  <p>
                    Graduando em Sistemas de Informação pela Unisociesc. Pós bug do milênio,
                    apaixonado pelo mundo digital desde criança e que ao fim do ensino médio,
                    se encontrou na área de desenvolvimento. Inquieto e curioso sobre o mundo
                    da programação, busca sempre novas formas de crescimento e aprendizado.
                    Ouvinte musical assidúo, adora programar ouvindo um Barões da Pisadinha.
                  </p>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
            <li>
              <div class="person flex-row">
                <div class="avatar flex-column">
                  <div class="shadow">
                    <img src="assets/images/team/uncle-sam.jpg" alt="We want you!" width="210" height="210">
                  </div>
                  <ul class="flex-row">
                    <li>
                      <a href="https://blog.coderockr.com" target="_blank">
                        <span class="icon-earth"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/Coderockr" target="_blank">
                        <span class="icon-github"></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile flex-column">
                  <div class="subtitle">
                    <h2>VOCÊ</h2>
                    <span></span>
                  </div>
                  <p>
                    Sim, você mesmo! <br>
                    Curte a Coderockr e tem vontade de trabalhar com a gente? Fique de olho em nossas vagas:</p>
                  <a href="https://careers.smartrecruiters.com/Coderockr" target="_blank">Coderockr Carrers</a>
                </div>
              </div>
              <div class="stars flex-row">
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
                <span class="icon-star"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  {{> footer}}

</main>