@import 'variables';
@import 'partials';


// Colors
$plyr-color-main: $yellow-6;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/plyr/src/scss/plyr.scss";
@import "bower_components/sweetalert2/src/sweetalert2.scss";
// endbower

.swal2-modal {
  border-radius: 0;
  padding: 20px 30px !important;
  min-height: 0;

  .swal2-spacer {
    height: 0 !important;
  }

  .swal2-close {
    font-size: 42px !important;
    top: 8px !important;
    right: 16px !important;
  }

  .swal2-title {
    font: 400 3rem $primary-font;
    margin-bottom: 18px;
    color: $gray-10;
  }

  .swal2-content {
    font: 300 2rem/2.5rem $primary-font;
    color: $gray-10;
  }

  .swal2-styled {
    outline: none;
    display: none;
  }
}

.plyr__play-large {
  background: rgba(0,0,0, 0.6);
  border: 5px solid $white;
  padding: 30px;
  outline: none !important;
  box-shadow: 0 1px 2px 1px transparentize($black, .8);
  opacity: .8;

  svg {
    position: relative;
    left: 2px;
    width: 40px;
    height: 40px;
    display: block;
  }
}

@font-face {
  font-family: 'gobold';
  src: url('../fonts/gobold_lowplus-webfont.woff2') format('woff2'),
       url('../fonts/gobold_lowplus-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'gobold';
  src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
       url('../fonts/gobold_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gobold';
  src: url('../fonts/gobold_thin-webfont.woff2') format('woff2'),
       url('../fonts/gobold_thin-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gobold';
  src: url('../fonts/gobold_uplow-webfont.woff2') format('woff2'),
       url('../fonts/gobold_uplow-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aller';
  src: url('../fonts/aller_std_lt-webfont.woff2') format('woff2'),
       url('../fonts/aller_std_lt-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aller';
  src: url('../fonts/aller_std_rg-webfont.woff2') format('woff2'),
       url('../fonts/aller_std_rg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aller';
  src: url('../fonts/aller_std_rg-webfont.woff2') format('woff2'),
       url('../fonts/aller_std_rg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1aewbj');
  src:  url('../fonts/icomoon.eot?1aewbj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1aewbj') format('truetype'),
    url('../fonts/icomoon.woff?1aewbj') format('woff'),
    url('../fonts/icomoon.svg?1aewbj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before { content: "\e904"; }
.icon-coderockr:before { content: "\e903"; }
.icon-earth:before { content: "\e905"; }
.icon-star:before { content: "\e902"; }
.icon-youtube-custom:before { content: "\e901"; }
.icon-medium:before { content: "\e900"; }
.icon-google-plus:before { content: "\ea8d"; }
.icon-facebook:before { content: "\ea90"; }
.icon-twitter:before { content: "\ea96"; }
.icon-youtube:before { content: "\ea9d"; }
.icon-github:before { content: "\eab0"; }

.browserupgrade {
  margin: 0.2em 0;
  background: $gray-4;
  color: $black;
  padding: 0.2em 0;
}

::selection {
  background: $yellow-6;
  color: $white;
}
::-moz-selection { background: $yellow-6; }

html {
  background-color: $white;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.2;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $primary-font;
}

html,
body {
  @extend .flex-column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  color: $gray-10;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after { box-sizing: inherit; }

a {
  outline: none !important;
  transition-property: background-color,border-color,color;
  transition-duration:.12s;
  transition-timing-function: ease-in;
}

.btn {
  background: transparent;
  display: inline-block;
  border-radius: 0;
  border: 2px solid $yellow-6;
  color: $yellow-6;
  padding: 12px 30px 11px 30px;
  font: 1.8rem $primary-font;
  letter-spacing: .05rem;
  text-decoration: none;
  margin: 0 auto;

  &:hover,
  &:focus {
    color: $white;
    background-color: $yellow-6;
  }
}

p { font: 300 1.8rem/3.20rem $primary-font; }

.title {
  clear: both;
  font: 4.5rem/7rem $secundary-font;
  letter-spacing: .4rem;
  color: $gray-10;
  text-align: center;
  margin: 100px auto 70px auto;
}

.subtitle {
  h2 {
    display: block;
    width: 100%;
    font: 3.5rem $secundary-font;
    letter-spacing: .2rem;
    margin: 0;
  }

  span {
    display: inline-block;
    clear: both;
    width: 100px;
    border-top: 4px solid $yellow-6;
    margin: 15px 0 30px 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#header {
  position: fixed !important;
  width: 100%;
  height: 100px;
  z-index: 1;
  margin-top: -100px;
  background-color: $white;
  opacity: .98;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);

  .flex-row {
    height: 100px;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        display: block;
        width: 222px;
        height: 65px;
      }
    }

    li {
      float: left;
      list-style: none;
      margin-left: 48px;

      a {
        font: 1.8rem $primary-font;
        text-decoration: none;
        color: $black;
        cursor: pointer;

        &:hover,
        &:focus { color: $yellow-6; }
      }
    }

    a.mobile {
      cursor: pointer;
      float: right;
      display: block;
      padding: 8px 14px 10px 14px;
      border-radius: 3px;
      border: 2px solid $black;
      letter-spacing: normal;

      img { width: 24px; }
    }
  }
}

#home {
  > .banner {
    width: 100%;
    background-color: $yellow-6;
    max-height: 550px;
    height: 550px;
    background: url('../images/crowd-bg.jpg') bottom center $yellow-6;
    box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.2);

    h1 {
      font: 4rem/8.5rem $secundary-font;
      letter-spacing: .4rem;
      color: $white;
      text-align: center;
      margin-top: 98px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    }
  }
}

.what-we-do {
  .blurred {
    display: block;
    position: relative;
    height: 80px;
    box-shadow: 0px -3px 5px 0px rgba(255,255,255,1);

    &:before {
      @extend .pseudo;
      width: 100%;
      height: 85px;
      top: -85px;
      left: 0;
      background: url('../images/crowd-bg.jpg') bottom center;
      filter: blur(5px);
    }
  }

  header {
    position: relative;
    min-height: 160px;
    margin-top: -170px;
    opacity: .9;
    background-color: $white;
    box-shadow: 0px -3px 3px 3px rgba(0,0,0,0.2);

    &:after {
      @extend .pseudo;
      clear: both;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: -3px;
      background-color: $white;
    }

    h3 {
      float: left;
      font: 300 3.5rem/5rem $primary-font;
      padding: 0 30px;
      text-align: center;
      margin-top: 32px !important;

      span { font-weight: 400; }
    }
  }

  section {
    padding-bottom: 100px;
    margin-top: -40px;

    p { clear: both; }

    .wrapper {
      position: relative;
      float: left;
      padding: 10px 0;
      margin-top: 40px;

      &:after {
        @extend .pseudo;
        height: 103%;
        left: 50%;
        top: -4.5%;
        margin-left: -2px;
        border-right: 4px solid $black;
      }
    }

    .service { float: left; }

    .left {
      padding-right: 70px;
      text-align: right;

      h2 {
        float: right;
        margin-right: -.6rem;
      }

      .subtitle span { float: right; }
    }

    .right {
      padding-left: 70px;
      float: left;
      text-align: left;
    }

    .service:nth-child(2n) { margin-top: 275px; }
    .service:nth-child(3n) { margin-top: 38px; }
    .service:nth-child(4n) { margin: 340px 0 60px 0; }

    h4 {
      font: 300 2rem $secundary-font;
      letter-spacing: .12rem;
      margin: 70px 0 25px;
    }

    .btn {
      font: 1.8rem $secundary-font;
      letter-spacing: .1rem;
      padding: 13px 30px;
    }
  }
}

.products {
  position: relative;

  header {
    width: 100%;
    position: absolute;
    background-color: #010D16;
    max-height: 590px;
    height: 590px;
    background: url('../images/grid-pattern.png') 0 -4px;
    box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.2);

    &:before {
      @extend .pseudo;
      width: 100%;
      max-height: 590px;
      height: 590px;
      background: url('../images/graphs.png') center 31px no-repeat;
    }
  }

  .wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  .title {
    color: $white;
    margin: 92px auto 60px auto;
  }

  .planrockr {
    position: relative;

    img {
      display: block;
      width: 100%;
      max-width: 773px;
      margin: 0 auto;
    }

    .subtitle {
      text-align: center;

      img {
        display: block;
        width: 250px;
        margin: 50px auto 26px auto;
      }

      span { border-color: $blue-7; }
    }

    .btn {
      border-color: $blue-7;
      color: $blue-7;
      margin-top: 23px;

      &:hover,
      &:focus {
        background: $blue-7;
        color: $white;
      }
    }
  }

  .estimeoprazo {
    margin-top: 80px;

    .wrapper {
      position: relative;
      margin-right: 35px;
      float: right;
      text-align: right;

      .subtitle {
        margin-top: 30px;

        span { border-color: $blue-7; }
      }

      p {
        width: 320px;
        float: right;
        padding-left: 15px;
      }

      .btn {
        border-color: $blue-7;
        color: $blue-7;
        margin-top: 23px;

        &:hover,
        &:focus {
          background: $blue-7;
          color: $white;
        }
      }
    }

    img {
      display: block;
      float: left;
      width: 240px;
      margin: 38px 0 0 35px;
    }
  }

  .coderockrway {
    padding-bottom: 100px;
    .subtitle {
      h2 {
        @extend .title;
        color: $gray-10;
        margin: 110px auto 0 auto;
      }

      h3 {
        color: $yellow-6;
        font: 3.2rem $secundary-font;
        letter-spacing: .2rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 15px 0 50px 0;

        &:before,
        &:after {
          position: relative;
          flex-grow: 1;
          height: 4px;
          content: '';
          background-color: $yellow-6;
          top: 2rem;
          max-width: 80px;
        }

        &:before { margin-right: 2rem; }
        &:after { margin-left: 2rem; }
      }
    }

    .plyr { margin-right: 35px; }

    .plyr__controls,
    .plyr__play-large { z-index: 0; }

    video { width: 100% !important; }

    .text {
      margin-left: 35px;
      .btn { margin-top: 23px; }
    }
  }
}

.testimonials {
  border-top: 1px solid $gray-2;
  border-bottom: 1px solid $gray-2;
  background: $gray-0;
  padding-bottom: 80px;

  .fotorama__stage {
    transition: height .1s linear;

    .fotorama__arr {
      width: 46px;
      height: 85px;
      top: 200px;
      background: url('../images/arrow.svg');
      background-size: 46px 85px;

      &.fotorama__arr--prev {
        left: 20px;
        transform: rotate(180deg);
      }

      &.fotorama__arr--next {
        right: 20px;
      }
    }
  }

  .fotorama__nav {
      position: absolute;
      transition: top .1s linear;

      .fotorama__nav__frame--dot {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 2px solid $yellow-6;
        margin: 0 9px;

        &.fotorama__active { background: $yellow-6; }
      }
    }

  .testimonial {
    text-align: center;

      img {
        display: block;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        border: 3px solid $yellow-6;
        padding:10px;
        margin: 0 auto
      }

      h3 {
        position: relative;
        top: -60px;
        background: $yellow-6;
        display: inline-block;
        padding: 5px 20px;
        color: $white;
        font: 2.4rem $secundary-font;
        text-transform: uppercase;
        letter-spacing: .2rem;
      }

      h4 {
        margin-top: -50px;
        font: 1.8rem/2.8rem $primary-font;
        text-transform: uppercase;
      }

      blockquote {
        display: inline-block;
        border: 0;
        margin-top: 50px;
        font-family: $secundary-font;
        quotes: "\201C""\201D""\2018""\2019";

        &::before,
        &:after {
          display: inline-block;
          position: initial;
          color: $yellow-6;
          font-size: 3em;
          line-height: 0;
          vertical-align: -2.8rem;
        }

        &:before { content: open-quote;
          margin-right: 8px;}
        &:after {
          content: close-quote;
          margin-left: -10px;
        }

        p { display: inline; }
      }
  }
}

.articles {
  padding-bottom: 30px;

  ul {
    display: block;
    width: 100%;

    li {
      list-style: none;
      margin-bottom: 60px;
      padding: 0 25px;

      .header {
        text-decoration: none;
        color: $gray-10;

        img {
          display: block;
          width: 100%;
        }

        h2 {
          font: 300 3rem $primary-font;
          line-height: 4.2rem;
        }

        h3 { font: 400 1.8rem $primary-font; }
      }

      span {
        display: inline-block;
        clear: both;
        width: 90px;
        border-top: 4px solid $yellow-6;
        margin: 15px 0 15px 0;
      }

      .anchor {
        float: left;
        text-decoration: none;
        font: 1.7rem $primary-font;
        text-transform: uppercase;
        color: $yellow-6;
        border-bottom: 2px solid $yellow-6;
        margin-top: 8px;

        &:hover,
        &:focus {
          color: $gray-10;
          border-color: $gray-10;
        }
      }
    }
  }
}

footer {
  background: $gray-10;
  color: $white;
  padding: 33px 0;

  .social {
    margin: 26px 0 0 0;
    padding: 0;
    display: inline-block;

    li {
      list-style: none;
      float: left;
      margin: 0 14px;


      a {
        text-decoration: none;
        color: inherit;

        span { font-size: 2.8rem; }

        &:hover span,
        &:focus span{ color: $yellow-6; }
      }

      &:first-child { margin-left: 0 !important; }
      &:last-child { margin-right: 0 !important; }
    }

  }

  .text {
    float: right;
    margin: 9px 32px 0 0;
    text-align: right;

    p { font: 300 1.6rem/2.6rem $primary-font !important; }
  }

  img {
    width: 28px;
    margin-top: 5px;
  }
}


@import "contact";

@import "about";


// ==================================   MENU MOBILE   ==================================

#main-content {
  padding-top: 100px;
  background-color: $white;
  /* slightly visible only when we resize this element */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition-property: opacity;
  transition-duration: 0.4s;
}

#main-content.move-out { opacity: 0; }

.no-js #main-content {
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
}

#menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: $white;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  /* we move this element off the canvas */
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
  z-index: 3;

  ul {
    padding: 0;
    margin-top: 40px;
  }

  li {
    text-align: center;
    list-style: none;
    margin: 28px 0;

    a {
      display: inline-block;
      margin-bottom: 5px;
      border-bottom: 2px solid $yellow-6;
      font:  2rem $primary-font;
      -webkit-font-smoothing: auto;
      text-decoration: none;
      color: $black;
    }
  }

  .close-menu {
    position: absolute;
    top: 25px;
    right: 19px;
    display: inline-block;
    padding: 10px;

    img { width: 26px; }
  }
}

.no-touch #menu-mobile li a:hover { border-color: $white; }

#menu-mobile.is-visible {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}

.no-js #menu-mobile {
  position: static;
  transform: translateY(0);
}

.no-js #menu-mobile .close-menu { display: none; }

.shadow-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s 0s;
}

.shadow-layer.is-visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}


.group {
  position: relative;
  margin: 30px 0;
  font: 2.2rem $primary-font;

  input {
    padding: 10px 10px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $gray-10;

    &:focus ~ label,
    &:valid ~ label {
      top: -20px;
      font-size: 1.4rem;
      color: $gray-6;
    }

    input:focus ~ .highlight { animation: inputHighlighter 0.3s ease; }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after { width: 50%; }

    &:focus { outline: none; }
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      @extend .pseudo;
      height: 2px;
      width: 0;
      top: -2px;
      background: $yellow-6;
      transition: 0.2s ease all;
    }

    &:before { left: 50%; }
    &:after { right: 50%; }
  }

  label {
    color: $gray-6;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }
}

@keyframes inputHighlighter {
  from { background: #5264AE; }
  to {
    width: 0;
    background: transparent;
  }
}

@import "midia-queries";
