<article>
  <span class="avatar"><img src="/public/images/adler.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Adler Medrado</h3>
  <p>Autodidata que trancou a faculdade e espera voltar a cursa-la algum dia, é certificado em PHP 5, PHP 5.3 e Zend Framework, trabalha com PHP desde 2000, além de possuir conhecimento em outras tecnologias como Java, .Net, Ruby, Node.js e Clojure. É co-fundador do PHPDF e do PHP Brasil Comunidades, tendo atuado durante muitos anos com a comunidade PHP Brasileira e também proferindo palestras em diversos eventos pelo Brasil. Trocou a correria da cidade grande pela tranquilidade do interior e suas influências em tecnologia são Bill Gates, Eric Raymond (contraditório não?) e Linus Torvalds, fora da TI, são Rebbe Nachman de Breslov e Rebbe de Lubavitch. </p>
  <div class="share">
    <a href="http://twitter.com/adlermedrado" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://adlermedrado.com.br" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="https://www.linkedin.com/in/adlermedrado" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href=" http://pt.slideshare.net/adlermedrado" target="_blank" title="Speaker Deck"><img src="/public/images/share-speakerdeck.gif" width="33" height="33" alt="Speaker Deck" /></a>
    <a href="http://github.com/adlermedrado" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
