<article>
  <span class="avatar"><img src="/public/images/avatar/xorna.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>André Espeiorin</h3>
  <p>Já foi graduando em Ciência da Computação e Engenharia da Computação, mas não terminou nenhuma das duas ainda. Mecânico que virou programador, trabalha com desenvolvimento web LAMP desde o inicio de 2006 e desenvolvimento nas plataformas Apple Mac OS X e iOS desde 2010. Usuário Linux desde 2004 e usuário Mac desde 2009. Ex-quase-músico, vocalista da banda Skull Crusher de 2004 até 2008. Leitor aficcionado de Tolkien, Cornwell e similares. Fã do Capitão Caverna, defensor número um da liberação do uso de bermuda em ambientes profissionais.</p>
  <div class="share">
    <a href="http://twitter.com/xorna" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://devrockr.wordpress.com/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-wordpress.gif" width="33" height="33" alt="Wordpress Blog" /></a>
    <a href="http://www.facebook.com/espeiorin" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
    <a href="http://www.linkedin.com/in/espeiorin" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="http://www.last.fm/user/xorna" target="_blank" title="Lastfm"><img src="/public/images/share-lastfm.gif" width="33" height="33" alt="Lastfm" /></a>
    <a href="http://github.com/xorna" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>