<article>
    <span class="avatar"><img src="/public/images/content/Bibi.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Bibi Ferreira</h3>
    <p>Office Manager da Coderockr, graduando em Gastronomia, mas pretende investir sua carreira na área de Tecnologia. Gosta de conversar em alemão, é fã de Rock e Heavy Metal, apaixonada por carros antigos, não abre mão de cerveja gelada, Xbox e de um bom e velho whisky.</p>
    <div class="share">
        <a href="https://twitter.com/fs_bibi" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="https://www.facebook.com/bibi.ferreira.5?ref=tn_tnmn" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>        
        <a href="https://pt.foursquare.com/fs_bibi" target="_blank" title="Foursquare"><img src="/public/images/share-foursquare.gif" width="33" height="33" alt="Foursquare" /></a>
        <a href="http://www.linkedin.com/pub/bibi-ferreira/67/950/930" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>
