<article>
    <span class="avatar"><img src="/public/images/darlan.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Darlan Polnow Bassi Junior</h3>
    <p>Formado em Técnico de Redes de Computadores e atualmente cursando Design - Animação Digital. É estagiário atuando na área de testes e idéias. Nas horas vagas curte ficar conversando e jogando com os amigos até mais tarde e assistir diversos seriados e sempre que pode da um pulo em Jaraguá para ver os amigos e família. Fã de SOJA e Arctic Monkeys mas tem um estilo de musica bem eclético.</p>
    <div class="share">
        <a href="https://www.facebook.com/darlanpbj" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
    </div>
</article>