<article>
  <span class="avatar"><img src="http://a0.twimg.com/profile_images/1664309300/g_pri_8120_face0.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Elton Luís Minetto</h3>
  <p>Possui graduação em Ciência de Computação pela Unochapecó e especialização em Ciência da Computação pela UFSC/UNOESC. Trabalha com PHP/MySQL desde 2000, com Linux desde 1997 e com MacOSX desde 2007. É autor do livro Frameworks para Desenvolvimento em PHP, da editora Novatec, co-autor do livro Grid Computing in Research and Education, publicado pela editora IBM/Redbooks, EUA e autor dos e-books Zend Framework na prática e Zend Framework 2 na prática. Grande fã de programação, do bom e velho Rock n’ Roll e Heavy Metal, suas influências envolvem Eric Raymond, Linus Torvalds, Steve Jobs, Ozzy Osbourne e Lemmy Kilmister.</p>
  <div class="share">
    <a href="http://twitter.com/eminetto" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://eltonminetto.net/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="http://www.linkedin.com/in/eminetto" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="http://www.last.fm/user/eminetto" target="_blank" title="Lastfm"><img src="/public/images/share-lastfm.gif" width="33" height="33" alt="Lastfm" /></a>
    <a href="http://speakerdeck.com/u/eminetto" target="_blank" title="Speaker Deck"><img src="/public/images/share-speakerdeck.gif" width="33" height="33" alt="Speaker Deck" /></a>
    <a href="http://github.com/eminetto" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
