<article>
    <span class="avatar"><img src="/public/images/avatar/guilherme.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Guilherme Henrique Oliveira</h3>
    <p>Mestrando pela UDESC em Ciência da Computação Aplicada e graduado pela UNISOCIESC. Trabalha com o desenvolvimento nas mais variadas tecnologias (Lisp até Java) desde que se conhece por gente. Curte uma boa conversa sobre filmes com os amigos, tomar Heineken preparando uma pizza com sua esposa, e ouvir o álbum Black Sabbath Vol. 4.</p>
    <div class="share">
        <a href="http://twitter.com/_holiveira" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="http://ghophp.github.io/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
        <a href="http://www.linkedin.com/in/ghophp" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
        <a href="http://github.com/ghophp" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
        <a href="http://facebook.com/guigoholiveira" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
  </div>
</article>