<article>
  <span class="avatar"><img src="/public/images/jean.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Jean Carlo Machado</h3>
  <p>Graduando do <em>IFRS BG</em> em Análise e Desenvolvimento de Sistemas. Apaixonado por ciência e tecnologia em geral, aficionado pelo universo Open Source e o jeito Unix de se fazer as coisas. Conhece diversas linguagens de programação mas reserva especial interesse por PHP no contexto Web, C++ para <em>desktop</em> e <em>Bash</em> para <em>scripting</em>. Seus <em>hobbies</em> incluem: <em>blogging</em>, tocar violino, eletrônica, muita leitura e muita programação. Talvez a única coisa que faz mais do que programar é meu otimizar seu processo de desenvolvimento.</p>
  <div class="share">
    <a href="https://twitter.com/JeanCarloMachad" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://www.jeancarlomachado.com.br/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="https://www.linkedin.com/pub/jean-carlo-machado/77/159/53b" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="https://github.com/jeanCarloMachado" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
