<article>
  <span class="avatar"><img src="/public/images/jesus.jpeg" width="80" height="80" alt="" /><span></span></span>
  <h3>Jesus Vieira</h3>
  <p>Olá meu nome é Jesus Vieira tenho 28 anos, graduado em Tecnologia em análise e desenvolvimento de software pela faculdade AEMS de Três Lagoas MS, trabalho com Web um pouco mais de 4 anos. Fui a segunda pessoa no meu estado a realizar o curso patrocinado pela W3C de HTML5 e CSS3 em meados de 2011 na nic.br em São Paulo SP, gosto de trabalhar com framework principalmente com Zend Framework 2. Nas horas vagas gosto de curtir a família e tomar um bom tereré gelado. </p>
  <div class="share">
    <a href="http://twitter.com/juizmill" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
     <a href="http://www.facebook.com/juizmill3l" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>

    <a href="http://www.youtube.com/user/juizmill3l" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
  </div>
</article>
