<article>
    <span class="avatar"><img src="/public/images/avatar/julia.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Julia Possamai</h3>
    <p>Formada em Marketing e Ciências da Computação pela University of Texas at Austin (Hook'em Horns!). Participou do programa "1 Semester Startup" na UT Austin onde adquiriu conhecimento e despertou o seu espírito empreendedor. Estagiou em Nova York na área de Marketing, trabalhou em Dallas como Analista de Sistemas de Negócios e atualmente trabalha com desenvolvimento iOS. Adora conhecer novos lugares e culturas. Participou de intercâmbios culturais em Washington, DC e Puyallup, Washington. Morou 4 anos no México, onde se formou no ensino médio, mas ainda não aprendeu a gostar de tequila.</p>
    <div class="share">
        <a href="http://www.facebook.com/juls.possamai" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="http://www.linkedin.com/pub/julia-possamai/1a/757/b09" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>
