<article>
  <span class="avatar"><img src="/public/images/leandro.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Leandro Lugaresi</h3>
  <p>Graduado em Análise e Desenvolvimento de Sistemas pela FTEC Bento Gonçalves. Trabalha com o desenvolvimento em PHP desde 2011, e desde 2013 com Zend Framework 2 e Doctrine 2. Está sempre buscando aprender mais sobre segurança, performance e modularidade em projetos web.
No seu tempo livre gosta de assistir séries e filmes, ficar ao ar livre, e aproveitar os momentos com a sua namorada.</p>
  <div class="share">
     <a href="https://www.facebook.com/leandro.lugaresi" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
    <a href="https://twitter.com/leandrolugaresi" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://www.leandrolugaresi.com.br/" target="_blank" title="Site"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="https://github.com/leandro-lugaresi" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
