<article>
    <span class="avatar"><img src="http://www.gravatar.com/avatar/ccc1e09cca35c9e70a1c7e84752fefb1.png" width="80" height="80" alt="" /><span></span></span>
    <h3>Leonardo Rossetto</h3>
    <p>Já foi graduando em Sistemas de Informação pela Unochapecó, atualmente trabalha com android, mas, conhece também C#, C++ e Zend Framework, fã de Metallica, nas horas vagas é player de FPS na Xbox live.</p>
    <div class="share">
        <a href="http://twitter.com/leorossetto_" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="http://www.facebook.com/leorossetto1" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="https://plus.google.com/u/0/107219840396006399210/" target="_blank" title="Google+"><img src="/public/images/share-google.gif" width="33" height="33" alt="g+" /></a>
        <a href="http://www.linkedin.com/profile/view?id=172500144&trk=tab_pro" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
        <a href="http://www.github.com/leonardoxh" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
    </div>
</article>
