<article>
    <span class="avatar"><img src="http://a1.twimg.com/profile_images/1294633824/eightbit-34ddc571-77c6-4260-b1f2-1a60452b8aaa.png" width="80" height="80" alt="" /><span></span></span>
    <h3>Marcos Garcia</h3>
    <p>Já foi graduando em Ciências da Computação e Design Gráfico e, atualmente, cursa Tecnologia e Análise em Desenvolvimento de Sistemas pela Udesc. Trabalha com desenvolvimento em PHP desde 2007, com uma pausa de seis meses para trabalhar com ferramentas Microsoft e Oracle, em 2009. Apaixonado por tecnologia, foi beta-tester do Coffee Framework. Nas horas vagas, é jogador de RPG (daqueles que não matam criancinhas) e apaixonado por histórias medievais, como as contadas por Cornwell, Tolkien e Paolini. Seu maior hobby é aprender.</p>
    <div class="share">
      <a href="http://twitter.com/msilvagarcia" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
      <a href="http://br.linkedin.com/in/msilvagarcia" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>