<article>
    <span class="avatar"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/401159_2313419246101_2062356537_n.jpg" width="80" height="80" alt="" /><span></span></span>
    <h3>Mateus Guerra</h3>
    <p>Graduando em Ciência da Computação. Trabalha com desenvolvimento Php/MySQL desde o inicio de 2010 e com Linux desde 2010. Atualmente trabalha com Zend Framework 2 e Silex, mas também conhece C, C++, Javascript, HTML/CSS. Nas horas vagas toca violão, é player de PS3 e cartunista.</p>
    <div class="share">
        <a href="http://twitter.com/mateus__g" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="http://facebook.com/mateusg" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="https://github.com/mateusguerra" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
    </div>
</article>
