<article>
  <span class="avatar"><img src="/public/images/matheus.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Matheus Gomes</h3>
  <p>Barbudo, tatuado e graduado na Fatec de São Paulo em Análise de Sistemas, começou sozinho a lidar com programação há 13 anos. Um Frontend Engineer que não é de meias palavras, viciado em café e com uma falta de sono congênita, é perfeccionista em tudo o que faz na frente de um computador, inclusive com todos os seus jogos do Steam. Sempre disposto para umas cervejas e uns bares com boa música, nunca dispensa uma boa comida... Só lembre que, se não quiser Gremlin gigante e muito alérgico, o mantenha longe de corantes roxos.</p>
  <div class="share">
    <a href="https://twitter.com/neokyox" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="https://www.linkedin.com/pub/neokyox" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
	<a href="https://fb.me/neokyox" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>    
  </div>  
</article>