<article>
    <span class="avatar"><img src="/public/images/pedro.png" width="80" height="80" alt="" /><span></span></span>
    <h3>Pedro Paulo Amorim</h3>
    <p>Cursou técnico em Informática e atualmente é estagiário. Trabalha com desenvolvimento Android, também conhece C# e HTML/CSS. Pretende cursar Ciência da Computação. É DJ e produtor musical nas horas vagas, é fã de Pink Floyd e muito Techno. Mas também possui um jeito menos descolado como colecionador de videgames antigos. .</p>
    <div class="share">
        <a href="https://www.facebook.com/pp.amorim1/" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="https://plus.google.com/+PedroPauloAmorim" target="_blank" title="Google+"><img src="/public/images/share-google.gif" width="33" height="33" alt="Google+" /></a>
        <a href="https://github.com/ppamorim" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
        <a href="https://soundcloud.com/leesz" target="_blank" title="Soundcloud"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Soundcloud" /></a>
    </div>
</article>