{% if forloop.index == 3 or forloop.index == 6 %}
    <li class="last">
{% else %}
    <li>
{% endif %}
    <a href="javascript:void(0);" rel="{{post.type}}" title="{{post.title}}">
      <img  src="{{post.image}}" width="70" height="70" alt="{{post.title}}" />
      <span class="title">{{post.title}}</span>
      <span>
        {{post.description}}
      </span>
    </a>
    <!--start overlay content-->
    <ul>
      <li>
        <div class="inner">
          <h2><img src="{{post.image}}" width="40" height="40" alt="{{post.title}}" /> {{post.title}}</h2>
          <p>{{post.content}}</p>
          <div class="swipe"></div>
        </div>
      </li>
      {% for i in post.gallery %}
          <li>
            {% if post.type == 'iphone' %}
                <img src="{{i}}" alt="" width="236" height="354" />
            {% endif %}
            {% if post.type == 'ipad' %}
                <img src="{{i}}" alt="" width="656" height="492" />
            {% endif %}
            {% if post.type == 'ipad-portrait' %}
                <img src="{{i}}" alt="" width="492" height="656" />
            {% endif %}
            {% if post.type == 'android-tablet' %}
                <img src="{{i}}" alt="" width="666" height="390" />
            {% endif %}
          </li>
      {% endfor %}
      
    </ul>
    <!--end overlay content-->
</li>