<article>
  <span class="avatar"><img src="/public/images/raony.jpg" width="80" height="80" alt="" /><span></span></span>
  <h3>Raony Marcondes</h3>
  <p>Graduado em Sistemas para Internet pelo Centro Universitário de Maringá, é um entusiasta pelas tecnologias da Open Web Platform, que leva à sério a usabilidade e acessibilidade das interfaces que desenvolve. Curte assistir séries e filmes no estilo Pulp Fiction, e discorda profundamente dos que acham que <del>Molejo</del> é melhor que Iron Maiden.</p>
  <div class="share">
    <a href="twitter.com/Ra0ny" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
    <a href="http://raony.net/" target="_blank" title="Wordpress Blog"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site" /></a>
    <a href="linkedin.com/in/raonymarcondes" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    <a href="http://www.facebook.com/raonymarcondes" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
    <a href="https://github.com/RaonyMarcondes" target="_blank" title="Github"><img src="/public/images/share-github.gif" width="33" height="33" alt="Github" /></a>
  </div>
</article>
