<article>
    <span class="avatar"><img src="https://si0.twimg.com/profile_images/2218363885/profile3_reasonably_small.png" width="80" height="80" alt="" /><span></span></span>
    <h3>Thiago Vieira</h3>
    <p>Possui Graduação em Design Gráfico e já cursou técnico em Processamento de Dados. Trabalha com desenvolvimento gráfico desde 2005, quando tomou gosto pela web. Envolvendo seu conhecimento de tecnologia e design com aplicação em frontend, está a dois anos focado em desenvolvimento de interface mobile para várias plataformas, alem de ser detalhista em seus projetos e sua percepção é voltada sempre ao usuário. Fã de AC/DC, curte o bom e velho Rock’n’Roll e tem como hobby seu Xbox e a dança de salão.</p>
    <div class="share">
        <a href="http://twitter.com/thiagovieiracom" target="_blank" title="Twitter"><img src="/public/images/share-twitter.gif" width="33" height="33" alt="Twitter" /></a>
        <a href="http://thiagovieira.com/" target="_blank" title="Site Pessoal"><img src="/public/images/share-personallink.gif" width="33" height="33" alt="Site Pessoal" /></a>
        <a href="http://www.facebook.com/thiagovieiracom" target="_blank" title="Facebook"><img src="/public/images/share-facebook.gif" width="33" height="33" alt="Facebook" /></a>
        <a href="http://www.linkedin.com/in/thiagovieiracom" target="_blank" title="Linkedin"><img src="/public/images/share-linkedin.gif" width="33" height="33" alt="Linkedin" /></a>
    </div>
</article>