<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social">
          <li><a href="https://www.facebook.com/coderockr" title="Curta a Coderockr no Facebook"><span class="icon-facebook"></span></a></li>
          <li><a href="https://twitter.com/coderockr" title="Siga a Coderockr no Twitter" target="_blank"><span class="icon-twitter"></span></a></li>
          <li><a href="https://www.youtube.com/user/coderockr" title="Acompahe a Coderockr no YouTube" target="_blank"><span class="icon-youtube"></span></a></li>
          <li><a href="https://blog.coderockr.com" title="Leia sore a Coderockr no Medium" target="_blank"><span class="icon-medium"></span></a></li>
          <li><a href="https://plus.google.com/+Coderockr" title="Acompahe a Coderockr no Google+" target="_blank"><span class="icon-google-plus"></span></a></li>
          <li><a href="https://github.com/Coderockr" title="Acompahe a Coderockr no Github" target="_blank"><span class="icon-github"></span></a></li>
        </ul>
        <img src="assets/images/hand-white.svg" alt="Coderockr Logo" title="You Rock!" class="pull-right">
        <div class="text">
          <p>
            +55 47 3227-6359 &nbsp;&nbsp;&nbsp;
            contato@coderockr.com
          </p>
          <p class="copyright">© 2018 Coderockr. Todos os direitos reservados. &nbsp; Joinville - SC</p>
        </div>
      </div>
    </div>
  </div>
</footer>