<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 flex-row">
        <a href="index.html" title="Coderockr" class="logo">
          <img src="assets/images/coderockr.svg" alt="Coderockr Logo">
        </a>
        <nav>
          <ul>
            <li><a href="index.html" title="O que fazemos" data-autoscroll="true">O Que Fazemos</a></li>
            <li><a href="about.html" title="Quem somos">Quem Somos</a></li>
            <li><a href="https://blog.coderockr.com" title="Blog Coderockr" target="_blank">Blog</a></li>
            <li><a href="contact.html" title="Contato">Contato</a></li>
          </ul>
        </nav>
        <a class="mobile hidden-md hidden-lg menu-trigger" href="#menu-mobile" title="Menu">
          <img src="assets/images/menu.svg" alt="Menu icon">
        </a>
      </div>
    </div>
  </div>
</header>